:root {
    --font: Verdana;
}

body {
    margin: 0;
    font-family: var(--font);
    color: white;
  }

.main {
    padding: 50px 157px;
    padding-bottom: 20px;
    background-image: url(../img/background_photo@1X.png), url(../img/background_color@1X.png);
    background-blend-mode: overlay;
    background-size: cover;
    background-attachment: fixed;
    
}

.logo {
    margin-top: -10px;
}

.duomo {
    display: inline-block;
    background-image: url(../img/logo@1X.png); 
    width: 46px;
    height: 44px;
}

.text {
    display: inline-block;
    padding: 0 10px;
    letter-spacing: 2.3px;
    font-weight: bold;
}

.milan {
    display: inline-block;
    font-size: 1.7rem;
}

.contact-info {
    display: inline-block;
    position: relative;
    left: 700px;
    text-align: right;
    vertical-align: bottom;
}

.section {
    display: flex;
    flex-wrap: wrap;
    width: 1180px;
    margin-left: -38px;
}

img {
    position: relative;
    left: 2.3px;
    top: 2.5px;
}

.card {
    background: linear-gradient(180deg, rgb(255, 255, 255) 39%, rgba(0, 0, 0, 0) 80%);
    width: 311px;
    height: 203px;
    background-repeat: no-repeat;
    margin: 50px 40.5px;
    box-shadow: 7px 20px 30px black;
}

figcaption {
    padding: 15px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover .duomo {
    background-image: url(../img/logo_hover@1X.png);
}

a:hover {
    color: #f26522;
}

.pull-up {
    width: 312px;
    height: 63px;
    position: relative;
    top: -114px;
    background-color: #f26522;
    transition: all 0.4s ease-in-out;
    z-index: 3;
    opacity: 0;
    font-size: 0.625rem;
 }

.card:hover .pull-up {
    opacity: 1;
    color: white;
}

.from-price {
    display: inline-block;
    margin: 12px 26px;
}

.price {
    font-size: 	1.25rem; 
}

.details {
    display: inline-block;
    font-size: 	0.8rem;
    margin-left: 80px;
}

.footer {
    font-size: 	0.75rem;
    text-align: center;
    margin-top: 50px;
}